<div style="display: flex; margin-top: 0px; height: 70px; background-color: black;">
    <div style="width: 30%; margin-top: 20px;">
        <a class="navbar-brand" href="#" style="padding-left: 30px; color: white; font-size: 20px;">
            <i class="fas fa-solid fa-bars"></i>
        </a>
    </div>
    <div style="display: flex; width: 40%; justify-content: space-between;">
        <div style="margin-top: 20px;">
            <a class="navbar-brand" href="#" style="color: white; font-size: 20px;">
                <p>Lista de Shopping</p>
            </a>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 20px;">
            <div>
                <a class="navbar-brand" href="#" style="color: white; font-size: 20px;">
                    <i class="fas fa-light fa-share"></i>
                </a>
            </div>
            <div>
                <a class="navbar-brand" href="#" style="margin-left: 15px; color: white; font-size: 20px;">
                    <i class="fas fa-solid fa-angle-up"></i>
                </a>
            </div>
            <div>
                <a class="navbar-brand" href="#" style="margin-left: 15px; color: white; font-size: 20px;">
                    <i class="fas fa-solid fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</div>