<nav class="navbar navbar-light bg-light" style="margin-left: 20px; margin-right: 20px;">
    <a class="navbar-brand" href="#">
        <i class="fas fa-solid fa-bars"></i>
    </a>
    <a class="navbar-brand" href="#">
        Lista de Shopping
    </a>
    <a class="navbar-brand" href="#">
        <i class="fas fa-light fa-share"></i>
    </a>
    <a class="navbar-brand" href="#">
        <i class="fas fa-solid fa-angle-up"></i>
    </a>
    <a class="navbar-brand" href="#">
        <i class="fas fa-solid fa-user"></i>
    </a>
</nav>