:host {
    position: absolute;
    width: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px;
    height: 719px;
    gap: 10px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
}
@media only screen and (max-width: 500px){
:host {
    position: absolute;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px;
    height: 719px;
    gap: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    }
}