<div>
    <ng-container *ngFor="let lista of listas; let i=index">
        <ng-container *ngIf="i==0">
            <div style="padding-bottom: 20px;">
                <h3>Lista principal</h3>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <div>
                    <h4>{{lista.nombre}}</h4>
                    <p>{{lista.cantItems}} artículos</p>
                </div>
                <div>
                    <i class="fas fa-solid fa-angle-down" [matMenuTriggerFor]="menu"></i>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="compartirLL(i)">Compartir</button>
                        <button mat-menu-item (click)="editarLL(i)">Cambiar nombre</button>
                        <button mat-menu-item (click)="principalLL(i)">Establecer como principal</button>
                        <button mat-menu-item (click)="borrarLL(i)">Borrar</button>
                    </mat-menu>
                </div>
            </div>
            <ng-container *ngIf="listas.length>1">
                <div style="padding-top: 20px; padding-bottom: 20px;">
                    <h3>Otras listas</h3>
                </div>
            </ng-container>
        </ng-container>
        <div>
            <ng-container *ngIf="i>0">

                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; flex-direction: column; gap: 2px;">
                        <h4>{{lista.nombre}}</h4>
                        <p>{{lista.cantItems}} artículos</p>
                    </div>
                    <div>
                        <i class="fas fa-solid fa-angle-down" [matMenuTriggerFor]="menu"></i>
                        <mat-menu #menu="matMenu">
                            <!--button mat-menu-item (click)="compartirLL(i)">Compartir</button-->
                            <button mat-menu-item (click)="editarLL(i)">Cambiar nombre</button>
                            <button mat-menu-item (click)="principalLL(i)">Establecer como principal</button>
                            <button mat-menu-item (click)="borrarLL(i)">Borrar</button>
                        </mat-menu>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
<div style="align-self: center; padding: 25px; cursor: pointer;" (click)="newList()">
    <h4>Crear lista nueva</h4>

</div>