<div>
    <div>
        <h3>Lista principal</h3><i class="fas fa-question-circle"></i>
    </div>
    <div>
        <h4>Lista de Shopping</h4>
        <p>0 artículos</p><i class="fas fa-solid fa-angle-down"></i>
    </div>
    <div><button>Crear lista nueva</button></div>
    <div>
        <div>
            <i class="fas fa-comment"></i>
            <h4>Enviar comentarios</h4>
        </div>
        <div>
            <i class="fas fa-question-circle"></i>
            <h4>Ayuda</h4>
        </div>
    </div>
    <p><a href="">Privacidad</a> • <a href="">Condiciones</a></p>
</div>