<div style="margin-top: 20px;" fxLayout="row" [formGroup]="formList">


    <div style="background-color: white;margin: 0 auto;" fxFlex="40" fxFlex.xs="100">

        <app-button [buttonCnf]="{text:'Aceptar',color:'orange'}" (btnClick)="sendForm()"> </app-button>
        <mat-form-field [style.width.%]=50 appearance="outline">
            <mat-label>Agregar artículo</mat-label>
            <input formControlName="nombre" matInput placeholder="Agregar artículo">
        </mat-form-field>
        <mat-form-field [style.width.%]=30 appearance="outline">
            <mat-label>Precio</mat-label>
            <input formControlName="precio" matInput placeholder="Precio">
        </mat-form-field>
    </div>
</div>

<!--div style="margin-left: 430px; margin-bottom: 15px;">
    <form [formGroup]="form">
        <mat-checkbox *ngFor="let cd of columnDefinitions"  [formControlName]="cd.def">{{cd.label}}</mat-checkbox>
    </form>
</div-->

<div style="padding-left: 430px; padding-right: 430px;">
    <table mat-table #tableOG [dataSource]="listProd" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let item">{{item.producto}}</td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let item">Bs. {{item.precio}}</td>

        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let score; let i = index;">
                <button mat-icon-button (click)="tachado(i)" matTooltip="Remove this score">
                    <mat-icon>check</mat-icon>
                </button>
                <button mat-icon-button (click)="removeAt(i)" matTooltip="Remove this score">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
</div>


<hr>


<ng-container *ngIf="productosTachados.length>0">
    <div style="padding-left: 430px; padding-right: 430px;">
        <table mat-table #tachado [dataSource]="productosTachados" class="mat-elevation-z8">
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Artículo</th>
                <td mat-cell *matCellDef="let item" style="text-decoration: line-through;">{{item.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let item" style="text-decoration: line-through;">Bs. {{item.precio}}</td>
            </ng-container>
            <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>Options</th>
                <td mat-cell *matCellDef="let score; let i = index;">
                    <button mat-icon-button (click)="destachado(i)" matTooltip="Remove this score">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="removeAtTachados(i)" matTooltip="Remove this score">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsTachados"></tr>
            <tr mat-row *matRowDef="let row; columns:displayedColumnsTachados"></tr>
        </table>
    </div>
</ng-container>


<ng-container *ngIf="productos.length<=0&&productosTachados.length<=0">
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div
            style="display: flex; justify-content: center; align-items: center; background-color: black; border-radius: 100px; margin-top: 50px; margin-bottom: 30px; padding: 50px; height: 200px; width: 200px;">
            <i class="fas fa-list" style="color: white; font-size: 75px;"></i>
        </div>
        <h3 style="margin-bottom: 25px;">Su lista está vacía</h3>
        <p style="width: 300px; text-align: center;">Comienza a agregar los artículos que necesitas para que no se te
            olvide nada. También puedes compartir las
            listas de compras con otros usuarios.</p>
    </div>
</ng-container>
