<div style="margin-top: 20px;" fxLayout="row" [formGroup]="formList">


    <div style="background-color: white;margin: 0 auto;" fxFlex="40" fxFlex.xs="100">

        <app-button [buttonCnf]="{text:'Aceptar',color:'orange'}" (btnClick)="sendForm()"> </app-button>
        <mat-form-field [style.width.%]=50 appearance="outline">
            <mat-label>Agregar artículo</mat-label>
            <input formControlName="nombre" matInput placeholder="Agregar artículo">
        </mat-form-field>
        <mat-form-field [style.width.%]=30 appearance="outline">
            <mat-label>Precio</mat-label>
            <input formControlName="precio" matInput placeholder="Precio">
        </mat-form-field>
    </div>
</div>

<div style="margin-left: 430px; margin-bottom: 15px;">
    <mat-slide-toggle [(ngModel)]="mostrarPrecio">Mostrar precio</mat-slide-toggle>
</div>

<div style="padding-left: 430px; padding-right: 430px;">
    <table mat-table [dataSource]="productos" class="mat-elevation-z8">
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Artículo</th>
            <td mat-cell *matCellDef="let item">{{item.nombre}}</td>
        </ng-container>
        <ng-container matColumnDef="precio">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell *matCellDef="let item">Bs. {{item.precio}}</td>
            <button>Borrar</button>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>Options</th>
            <td mat-cell *matCellDef="let score; let i = index;">
                <button mat-icon-button (click)="removeAt(i)" matTooltip="Remove this score">
                    <mat-icon>clear</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
    </table>
</div>